@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

html, body {
  height: 100%;
  background-color: rgb(43, 43, 59);
}
.nav {
  background-color: rgb(30, 30, 43);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-items {
  list-style: none;
  display: flex;
}
.nav-items li {
  padding: 10px;
  font-size: 1.5rem;
}
.logo-pic {
  max-width: 80px;
  padding-left: 1.5rem;
}
header {
  color: white;
  font-family: 'Poppins', sans-serif;
}
.main {
  color: white;
  font-family: 'Poppins', sans-serif;
  padding-left: 1.5rem;
  min-height: 100%;
}
.main li {
  font-size: 1.5rem;
}
.footer {
  color: white;
  height: 50px;
  font-family: 'Poppins', sans-serif;
  padding-left: 1.5rem;
}
